@{
    ViewBag.Title = "OTS Member's Home Page";
}

<div class="jumbotron">
    <h1>OTS Member Services</h1>
    <p class="lead">Welcome to Oklahoma Telugu Sangham (OTS)'s member services page!</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Membership</h2>
        <p>
            Click here if you would like to become a new member of OTS or renew your existing memberships.
        </p>
        <p><a class="btn btn-primary" href=@Url.Action("Index", "OTSMembers")>Renewals & New Memberships &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Member Directory</h2>
        <p>OTS members can search the fellow member details by thier name or thier email address.</p>
        <p><a class="btn btn-primary" href=@Url.Action("Directory", "OTSMembers")>Search &raquo;</a></p>
    </div>
</div>